body{
    background-image: url("./flag.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container
{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255, 0.8);

}

.container h1
{
    font-size: 24px;
    margin-bottom: 20px;

}

.container .India
{
    font-size: 18px;
    line-height: 1.5;
}